html, body {
  height: 100%;
  margin: 0;
  background: #0f0f0f;
}

#game-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
    border: 2px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}